@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeistSans';
  src: url('./assets/fonts/Geist-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('./assets/fonts/Geist-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('./assets/fonts/Geist-SemiBold.otf') format('opentype');
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('./assets/fonts/Geist-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
}